@{
    Layout = Layout; // layout=layout se trae estilo
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento de Proveedores</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- Agrega las referencias a los archivos de Bootstrap CSS y JS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
       @if (TempData["SuccedMensaje"] != null)
    {
        <div class="alert alert-success">@TempData["SuccedMensaje"]</div>
    }
    @if (TempData["ErrorMensaje2"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMensaje2"]</div>
    }
    @if (TempData["ErrorMensaje1"] != null)
    {
        <div class="alert alert-danger">@TempData["ErrorMensaje1"]</div>
    }
    @if (TempData["ErrorMensaje"] != null)
    {
        <div class="alert alert-info">@TempData["ErrorMensaje"]</div>
    }
    <main class="my-form">
        <div class="container fluid">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header text-white text-md-center" style="background-color: #2980B9;">NUEVO
                            INGRESO DE PROVEEDOR</div>
                        <div class="card-body">
                            <form name="my-form" onsubmit="return validform()"
                                action="@Url.Action("Create","Proveedores")" method="post">

                                <div class="form-group row">
                                    <label for="nombre" class="col-md-4 col-form-label text-md-right">NOMBRE 
                                        PROVEEDOR</label>
                                    <div class="col-md-6">
                                        <input type="text" id="nombre" class="form-control" name="nombre_proveedor"
                                           @* oninput="soloLetras(this)"*@ required>

                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="descripcion"
                                        class="col-md-4 col-form-label text-md-right">DIRECCIÓN</label>
                                    <div class="col-md-6">
                                        <input type="text" id="descripcion" class="form-control" name="direccion"
                                            @*oninput="soloLetras(this)"*@ required>
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label for="email"
                                        class="col-md-4 col-form-label text-md-right">CORREO</label>
                                    <div class="col-md-6">
                                        <input type="email" id="email" class="form-control" name="correo" *@ required>
                                    </div>
                                </div>

                        

                                <div class="form-group row">
                                    <label for="telefono" class="col-md-4 col-form-label text-md-right">CONTACTO
                                        </label>
                                    <div class="col-md-6">
                                        <input type="number" id="telefono" class="form-control" name="telefono" required
                                            pattern="[0-9]{8}" 
                                            maxlength="8"
                                            placeholder="Ingrese 8 dígitos, ejemplo: 88888888">
                                            <div id="mensajeError" style="display: none; color: red;">Ingrese solo números.</div>



                                    </div>
                                </div>

                                @*<div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">FECHA REGISTRO
                                        </label>
                                    <div class="col-md-6">
                                        <input type="date" id="telefono" class="form-control" name="telefono" required>
                                    </div>
                                </div>@**@

                             
                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        GUARDAR
                                    </button>
                                </div>
                            </form>
                        </div>


                    </div>

                </div>

            </div>
        </div>


    </main>


    <script>

        function soloLetras(input) {

            var regex = /[^a-zA-Z]/g;

            input.value = input.value.replace(regex, '');
        }

        // Mensaje de error, para contacto

        const telefonoInput = document.getElementById('telefono');
        const mensajeError = document.getElementById('mensajeError');

        telefonoInput.addEventListener('input', function(event) {
        const valor = event.target.value;
        if (valor === '') {
        mensajeError.style.display = 'none'; // Si el campo está vacío, oculta el mensaje de error
        } else if (!/^\d+$/.test(valor)) {
        mensajeError.style.display = 'block'; // Muestra el mensaje de error si no son solo dígitos
        } else {
        mensajeError.style.display = 'none'; // Oculta el mensaje de error si son dígitos válidos
    }
});


    </script>

    




</body>

</html>
